@charset "UTF-8";
       body {
            background-color: lightblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1{color: lightpink;
        background-color: rgb(206, 231, 156);
        }
        h2{color: lightgreen;

        }

        p{text-align: justify;

        }


    